section#odevio {
    padding-left: 15px;
}

section#odevio h2, section#odevio h3, section#odevio h4, section#odevio h5 {
    background: rgba(0, 128, 0, 0.1);
    border-top: 3px solid green;
    padding: 8px 5px;
    margin: 60px 0px 10px -15px; /* Thank you Axel Cardinaels for the neat negative margin css trick. */
    display: flex;
    align-items: center;
    width: 100%;
}

section#odevio h2:before, section#odevio h3:before, section#odevio h4:before, section#odevio h5:before {
    content: "$";
    display: inline-block;
    padding-right: 10px;
}

section#odevio img {
    margin-bottom: 24px;
}
